In [1]:
import pandas as pd
d=pd.read_excel("/Users/student/Downloads/employee.xlsx")
print(d)

    REG NO      NAME     AGE  GENDER STARTING DATE  SALARY   BONUS LAST LOGIN  \
0    65865    kaviya  female      24    01.05.2019   25000  0.1200   12:07:00
1    35598  kalanjia  female      23    22.01.2020   23000  0.1200   13:00:00
2    37165   karthic    male      25    15.12.2018   23000  0.0960   10:30:00
3    68121       anu  female      22    23.05.2017   25000  0.1500   11:09:00
4    25542    harish    male      26    09.12.2019   26000  0.1000   12:07:00
5    36725      inba    male      24    14.03.2015   30000  0.0950   13:00:00
6    36823   deepika  female      22    19.09.2013   32000  0.0625   10:30:00
7    54893  krishnan    male      24    24.01.2010   27000  0.0940   11:09:00
8    36412  hirthick    male      29    30.12.2017   29000  0.1500   12:07:00
9    98135    samuel    male      30    03.03.2013   25500  0.1450   13:00:00
10   96145     jerry    male      27    12.12.2029   27800  0.1200   10:30:00
11   12546    wilson    male      29    15.07.2016   26000  0.0940   11:09:00
12   35549   mithali  female      23    29.03.2014   35000  0.1600   12:07:00
13   24016     virat    male      25    24.12.2019   32100  0.1400   13:00:00
14   95324     vijay    male      29    17.03.2019   28000  0.1350   10:30:00
15   65423     ajith    male      26    01.12.2016   30000  0.1800   11:09:00
16   68523   dhaswin    male      23    27.06.2016   36000  0.1700   12:07:00
17   92333  harshini  female      25    23.03.2014   35000  0.0950   13:00:00
18   65542    bhavya  female      26    19.12.2014   30000  0.1620   10:30:00
19   32256   mathosh    male      25    31.01.2019   32000  0.1500   11:09:00
20   36552  siddarth    male      31    09.09.2016   29500  0.1200   12:07:00
21   26578    neeraj    male      30    16.02.2015   26000  0.0850   13:00:00
22   65498    edison    male      33    13.02.2019   32000  0.1000   10:30:00
23   36563    harini  female      24    30.12.2014   32000  0.1120   11:09:00
24   55963    sriram    male      29    08.05.2018   25000  0.1450   09:15:00

   TEAM
0     A
1     D
2     A
3     B
4     B
5     C
6     E
7     D
8     D
9     F
10    E
11    E
12    S
13    D
14    C
15    C
16    S
17    A
18    A
19    C
20    C
21    E
22    A
23    E
24    B

In [3]:
a=pd.DataFrame(d)
print(a.shape)

(25, 9)

In [6]:
a=pd.DataFrame(d)
print("columns:",a.columns)

columns: Index(['REG NO', 'NAME', 'AGE', 'GENDER', 'STARTING DATE', 'SALARY', 'BONUS',
       'LAST LOGIN', 'TEAM'],
      dtype='object')

In [15]:
print("REG NO\n",a['REG NO'])

REG NO
 0     65865
1     35598
2     37165
3     68121
4     25542
5     36725
6     36823
7     54893
8     36412
9     98135
10    96145
11    12546
12    35549
13    24016
14    95324
15    65423
16    68523
17    92333
18    65542
19    32256
20    36552
21    26578
22    65498
23    36563
24    55963
Name: REG NO, dtype: int64

In [13]:
print(a[1:4])

   REG NO      NAME     AGE  GENDER STARTING DATE  SALARY  BONUS LAST LOGIN  \
1   35598  kalanjia  female      23    22.01.2020   23000  0.120   13:00:00
2   37165   karthic    male      25    15.12.2018   23000  0.096   10:30:00
3   68121       anu  female      22    23.05.2017   25000  0.150   11:09:00

  TEAM
1    D
2    A
3    B

In [17]:
print("particular person details:\n",a.loc[6])

particular person details:
 REG NO                36823
NAME                deepika
AGE                  female
GENDER                   22
STARTING DATE    19.09.2013
SALARY                32000
BONUS                0.0625
LAST LOGIN         10:30:00
TEAM                      E
Name: 6, dtype: object

In [16]:
print(a['SALARY']==23000)

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: SALARY, dtype: bool

In [18]:
print(a['SALARY']/200)

0     125.0
1     115.0
2     115.0
3     125.0
4     130.0
5     150.0
6     160.0
7     135.0
8     145.0
9     127.5
10    139.0
11    130.0
12    175.0
13    160.5
14    140.0
15    150.0
16    180.0
17    175.0
18    150.0
19    160.0
20    147.5
21    130.0
22    160.0
23    160.0
24    125.0
Name: SALARY, dtype: float64