In [10]:
import pandas as pd
d1={"name":["sai","sub","poo"],"age":[20,21,22]}
d2={"qualified":[True,False,True]}
df1=pd.DataFrame(d1)
print(df1)

  name  age
0  sai   20
1  sub   21
2  poo   22

In [11]:
df2=pd.DataFrame(d2)
print(d2)
newdf=df1.join (df2)
print(newdf)

{'qualified': [True, False, True]}
  name  age  qualified
0  sai   20       True
1  sub   21      False
2  poo   22       True

In [33]:
d1={
    "name": ["sai","sri","pavi"], "age": [20,21,22]
}
d2={
    "name": ["yuvi","rithika","sanjay"], "age": [23,21,22]
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1)

   name  age
0   sai   20
1   sri   21
2  pavi   22

In [34]:
newdf1=df2.merge(df1, on='age')
print(newdf1)

    name_x  age name_y
0  rithika   21    sri
1   sanjay   22   pavi

In [38]:
#reshape
df=pd.DataFrame({'team': ['A','B','C','D'], 'points': [90,56,78,88], 'assists': [12,34,23,44], 'rebounds': [56,43,55,12]})
print(df)
df=pd.melt(df,id_vars ='team', value_vars = ['points','assists','rebounds'])
print(df)

  team  points  assists  rebounds
0    A      90       12        56
1    B      56       34        43
2    C      78       23        55
3    D      88       44        12
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A   assists     12
5     B   assists     34
6     C   assists     23
7     D   assists     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12