In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Subu','Divya','Yuvi','Rithi','Sangi'],'B':['One','Two','Three','One','Three','Two'],
                 'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

       A      B  C  D  E
0    Sai    One  4  3  2
1   Subu    Two  0  3  1
2  Divya  Three  1  3  0
3   Yuvi    One  0  4  0
4  Rithi  Three  2  4  1
5  Sangi    Two  1  4  4

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['One','Two','Three','One','Three','Two','One','Two'],
                 'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A'],as_index=False)['C'].sum()
print(df1)

       A      B  C  D  E
0    Sai    One  0  1  0
1    Poo    Two  0  2  4
2    Sub  Three  1  1  0
3   Yuvi    One  1  2  4
4  Rithi  Three  1  2  3
5  Sangu    Two  0  0  3
6    Sai    One  4  2  0
7    Poo    Two  2  1  4
       A  C
0    Poo  2
1  Rithi  1
2    Sai  4
3  Sangu  0
4    Sub  1
5   Yuvi  1

In [7]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['One','Two','Three','One','Three','Two','One','Two'],'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print(df1)

       A      B  C  D  E
0    Sai    One  2  0  1
1    Poo    Two  2  2  2
2    Sub  Three  1  4  2
3   Yuvi    One  2  4  3
4  Rithi  Three  2  2  1
5  Sangu    Two  0  1  3
6    Sai    One  2  4  4
7    Poo    Two  4  2  3
       A      B  C  D
0    Poo    Two  6  4
1  Rithi  Three  2  2
2    Sai    One  4  4
3  Sangu    Two  0  1
4    Sub  Three  1  4
5   Yuvi    One  2  4

In [8]:
df=pd.DataFrame({'Catagory':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print("\nOriginal DataFrame :\n",df)

Original DataFrame :
   Catagory  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [14]:
df_grouped=df.groupby('Catagory').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df_grouped)

         Sales        Profit
           sum   mean    sum max
Catagory
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20