In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Subu','Divya','Yuvi','Rithi','Sangi'],'B':['One','Two','Three','One','Three','Two'],
                 'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

       A      B  C  D  E
0    Sai    One  0  4  1
1   Subu    Two  2  3  1
2  Divya  Three  3  0  0
3   Yuvi    One  2  4  4
4  Rithi  Three  1  0  0
5  Sangi    Two  3  2  2

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['One','Two','Three','One','Three','Two','One','Two'],
                 'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A'],as_index=False)['C'].sum()
print(df1)

       A      B  C  D  E
0    Sai    One  2  3  1
1    Poo    Two  2  1  4
2    Sub  Three  3  1  2
3   Yuvi    One  0  4  3
4  Rithi  Three  3  0  3
5  Sangu    Two  4  4  3
6    Sai    One  0  4  3
7    Poo    Two  4  2  2
       A  C
0    Poo  6
1  Rithi  3
2    Sai  2
3  Sangu  4
4    Sub  3
5   Yuvi  0

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sangu','Sai','Poo'],'B':['One','Two','Three','One','Three','Two','One','Two'],
                 'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
print(df)
df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()
print(df1)

       A      B  C  D  E
0    Sai    One  3  3  2
1    Poo    Two  1  0  2
2    Sub  Three  2  1  1
3   Yuvi    One  4  3  4
4  Rithi  Three  3  3  4
5  Sangu    Two  0  1  0
6    Sai    One  0  3  2
7    Poo    Two  1  0  3
       A      B  C  D
0    Poo    Two  2  0
1  Rithi  Three  3  3
2    Sai    One  3  6
3  Sangu    Two  0  1
4    Sub  Three  2  1
5   Yuvi    One  4  3

C:\Users\REC\AppData\Local\Temp\ipykernel_1692\3643365678.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1=df.groupby(['A','B'],as_index=False)['C','D'].sum()

In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Subu','Divya','Yuvi','Rithi','Sanju'],'B':['one','two','three','one','three','two'],'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

       A      B  C  D  E
0    Sai    one  1  3  3
1   Subu    two  2  4  1
2  Divya  three  0  4  0
3   Yuvi    one  4  1  4
4  Rithi  three  2  3  1
5  Sanju    two  3  0  2

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Sai','Poo','Sub','Yuvi','Rithi','Sanju','Sai','Poo'],'B':['one','two','three','one','three','two','one','two'],'C':np.random.randint(5,size=8),'D':np.random.randint(5,size=8),'E':np.random.randint(5,size=8)})
df1=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print(df1)

       A      B  C  D
0    Poo    two  4  3
1  Rithi  three  4  3
2    Sai    one  2  1
3  Sanju    two  2  0
4    Sub  three  0  0
5   Yuvi    one  3  1

In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'category':['a','b','c','A','B','C'],'Sales':[100,200,150,150,130,200],'Profit':[10,15,20,25,30,15]})
print("\n Original daraframe:\n",df)

 Original daraframe:
   category  Sales  Profit
0        a    100      10
1        b    200      15
2        c    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [4]:
df_grouped=df.groupby('category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df_grouped)

         Sales        Profit
           sum   mean    sum max
category
A          150  150.0     25  25
B          130  130.0     30  30
C          200  200.0     15  15
a          100  100.0     10  10
b          200  200.0     15  15
c          150  150.0     20  20