In [ ]:
import pandas as pd
import numpy as np

print("DataFrame.apply fucntion:\n")
info = pd.DataFrame([[3, 9]] * 4, columns=['S', 'R'])
print("\n Original DataFrame:\n", info)
print("\n SequarerootofDataFrame:\n", info.apply(np.sqrt))
print("\n Sumofeachcolumn: \n", info.apply(np.sum, axis=0))
print("\n Sumofeachrow:\n", info.apply(np.sum, axis=1))

DataFrame.apply fucntion:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 SequarerootofDataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sumofeachcolumn:
 S    12
R    36
dtype: int64

 Sumofeachrow:
 0    12
1    12
2    12
3    12
dtype: int64

In [4]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]], columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['Emp','ID']
print(d2)

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  Sai  88
1  Poo  70

In [5]:
#Adding new column
d2['Age']=[20,18]
print(d2)

     0   1  Age
0  Sai  88   20
1  Poo  70   18

In [8]:
d=d2.assign(Sex=['Male','Male'])
print(d)

     0   1  Age   Sex
0  Sai  88   20  Male
1  Poo  70   18  Male

In [17]:
#Sorting
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3  2.235071  0.490379
2  0.104687 -0.269544
0 -0.239781 -0.522901
4  0.652418  1.499788
1  1.221986  0.860661

In [18]:
info2=info.sort_index()
print(info2)

       col3      col4
0 -0.239781 -0.522901
1  1.221986  0.860661
2  0.104687 -0.269544
3  2.235071  0.490379
4  0.652418  1.499788

In [19]:
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
0 -0.239781 -0.522901
2  0.104687 -0.269544
4  0.652418  1.499788
1  1.221986  0.860661
3  2.235071  0.490379

In [27]:
left=pd.DataFrame({'id':[1,2,3,4],'Name':['A','B','C','D'],'Sub':['sa','..','re','ga']})
right=pd.DataFrame({'id':[1,3,4,5],'Age':[20,21,22,23],'Add':['Nah','Id','Win',':D']})
merge=pd.merge(left,right,on='id')
print(merge)

   id Name Sub  Age  Add
0   1    A  sa   20  Nah
1   3    C  re   21   Id
2   4    D  ga   22  Win